@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;
.banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
 

  @include responsive(desktop) {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right:350px;
  /*&::before {
    @include pseudo(1440px, 2px) {
      position: relative;
      top:500px;
    margin: 0 auto;
      background-color: black;
    }
  }*/
}
}