@use '../mixins/pseudo.scss' as *;
.outer-headings {
  display: flex;
  flex-direction:column;
  
}

h1 {
  font-size: 20px;
}

.inner-headings {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  color:var(--color-terciary);
  animation: animation 8s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  80% {
    top: -100px;
  } 
}