:root {
  /* Variables CSS */
  --color-primary: #393a3a;
  --color-secundary: #c2aaf3;
  --color-terciary: #aef2c0;
  --color-menu: #c2aaf3;
  --font-family-dm: 'DM Serif Display', serif;
  --font-family-karla: 'Karla', sans-serif;
}

/* Variables SASS */
