:root {
  /* Variables CSS */
  --color-primary: #393a3a;
  --color-secundary: #c2aaf3;
  --color-terciary: #aef2c0;
  --color-menu: #c2aaf3;
  --font-family-dm: 'DM Serif Display', serif;
  --font-family-paragraph: 'Roboto', sans-serif;
  --font-family-barlow: 'Barlow', sans-serif;
  --font-family-name: 'Playfair Display', serif;
  --font-family-title: 'Playfair Display', serif;
  --font-family-text: 'Merriweather', serif;
  --color-about-me: white;
}

/* Variables SASS */
